!!!
%html
  %head
    %meta{ charset: "utf8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %title
      Kode Pos Indonesia:
      = current_page.data["title"]
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', media: "all"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Playfair+Display', media: "all"
    = stylesheet_link_tag "#{asset_root}/stylesheets/all.css", media: "all"
  - css_classes = (current_page.data["css_classes"] || [])
  %body{ class: css_classes.map { |c| "body-" + c }.join(" ") }
    .header
      %h1 Kode Pos Indonesia
      = link_to "Cari Kode Pos", '.', class: "js-push tab-cari-kode-pos"
      = link_to "Cari Daerah", 'cari-daerah', class: "js-push tab-cari-daerah"
      = link_to "Semua Kode Pos", 'semua-kode-pos', class: "js-push tab-semua-kode-pos"
      = link_to "Semua Kota", 'semua-kota', class: "js-push tab-semua-kota"
    %div{ class: "content #{css_classes.join(' ')}" }
      .share-buttons
        Bagikan di:
        = link_to "Facebook", 'javascript:;',  class: 'share-button share-facebook'
        = link_to "Twitter", 'javascript:;', class: 'share-button share-twitter'
      = yield
    %script(type="text/ng-template" id="no-result.html")
      <div class="no-result">
      <h2>Wah, Maaf. Ngga ketemu.</h2>
      <h4>Tertarik membantu melengkapi database kami? Harap kirim<br/>email ke <a href="mailto:">thecatcyborg+kodepos [at] gmail [dot] com</a>.</h4>
      </div>
    %script(type="text/ng-template" id="postal-code.html")
      <div class="postal-code">
      <a href="cari-daerah.html?postalCode={%=o.postalCode%}" class="postal-code-content">
      {%=o.postalCode%} ({%=o.total%})
      </a>
      </div>
    %script(type="text/ng-template" id="city.html")
      <div class="city">
      <a href=".?city={%=o.city%}" class="city-content">
      {%=o.city%} ({%=o.total%})
      </a>
      </div>
    %script(type="text/ng-template" id="place.html")
      <div class="place">
      <div class="place-content">
      <div class="place-postal-code">{%=o.postalCode%}</div>
      <div class="place-city">{%=o.city%}</div>
      <div class="place-street">{%=o.street%}</div>
      </div>
      </div>
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"
    :javascript
      window.apiHost = "#{api_host}";
    = javascript_include_tag "#{asset_root}/javascripts/all.js"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'CHANGEME']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
